# Folders to ignore
.mixin.out
.vscode
config/*
!config/
config/apotheosis/*
!config/apotheosis/
config/attributefix/*
!config/attributefix/
config/bettercombat/*
!config/bettercombat/
config/jade/*
!config/jade/
config/puffish_skills/*
!config/puffish_skills/
crash-reports
datapacks
defaultconfigs/*
!defaultconfigs/
downloads
dynamic-data-pack-cache
dynamic-resource-pack-cache
local
logs
moddata
mods
patchouli_books
resourcepacks
saves
screenshots
shaderpacks
xaero
XaeroWaypoints*

# Files to ignore
kubejs/client_scripts/jsconfig.json
kubejs/client_scripts/main.js
kubejs/config/probe-settings.json
kubejs/config/web_server.json
kubejs/server_scripts/jsconfig.json
kubejs/startup_scripts/jsconfig.json
kubejs/README.txt
.curseclient
command_history.txt
emi.json
minecraftinstance.json
options.txt
patchouli_data.json
usercache.json
usernamecache.json
.probe

# Config files to include
!config/fml.toml
!config/emi.css
!config/biomespawnpoint/
!config/starterstructure/
!config/forgivingworld.json
!config/apotheosis/apotheosis.cfg
!config/gag.cfg
!config/irons_rpg_tweaks-server.toml
!config/mobplaques-client.toml
!config/item_obliterator.json5
!config/travelerstitles-neoforge-1_21.toml

